[submodule "brain-tec/web"]
	path = brain-tec/web
	url = git@github.com:brain-tec/web.git
	branch = 11.0

[submodule "brain-tec/server-ux"]
	path = brain-tec/server-ux
	url = git@github.com:brain-tec/server-ux.git
	branch = 11.0
